.home {
  margin: 0 auto;
  width: 91.66667%;
  min-height: 100vh;
}

@media only screen and (min-width: 1023px) {
    .home {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

}