.get-baccpacc {
    height: 3rem;
    border-radius: 6.25rem;
    background-color: rgba(42, 87, 63, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-family: "Manrope";
    font-weight: 600;
    line-height: 1.625rem;
    padding: 0 1.5rem 0 1.5rem;

}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
  

.qr-container {
    height: 12.5rem;
    width: 12.5rem;
}