*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
}


//@media queries are also used in header.styles.scss, body.styles.scss, content.styles.scss, content-header.styles.scss
@media only screen and (max-width: 767px) {
    *,*::before, *::after {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) {
    *,*::before, *::after {
        font-size: 16px;
    }
}



