.content-main-header {
    color: #212121;
    font-family: "Manrope";
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 110%; /* 3.85rem */
    letter-spacing: -0.105rem;
    margin-bottom: 0.75rem;
}

.content-main-body {
    color: rgba(69, 71, 69, 1);
    font-family: "Manrope";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%; /* 1.8rem */
    
}

@media only screen and (max-width: 1023px) {
    .content-main {
        text-align: center;

        .content-main-header {
            margin-bottom: 12px;
        }

        .content-main-body {
            font-size: 14px;  
        }
    }

}
